.sociosArt {
  width: 100%;
  border: 1px solid rgb(189, 186, 186);
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardSocios {
  width: 300px;
  height: 220px;
  overflow: hidden;
}

.imgCard {
  width: 100%;
  max-height: 200px;
  height: 75%;
  transition: 0.5s;
  object-fit: cover;
  padding: 25px;
  /* filter: grayscale(40%); */
}

.imgCard:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
  transition: 800ms;
}

.subrayadoText {
  text-decoration: none !important;
  color: rgba(6, 57, 223, 0.45);
  font-weight: 600;
}

@media all and (min-width: 990px) and (max-width: 1390px) {
  .cardSocios {
    width: auto;
    height: 280px;
    overflow: hidden;
  }

  .imgCard {
    min-height: 120px;
    max-height: 150px;
  }
}
